<div class="card text-white bg-dark mb-3" >
  <div class="card-header">
    Filtry
  </div>
  <div class="card-block">
    <div class="row">
    <div class="col-md-8">
      <div class="input-group">
  <span class="input-group-btn">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal">Filtruj</button>
  </span>
        <input type="text" class="form-control" placeholder="Filtr" value="<%= @sql %>" readonly>
      </div>
      <input type="submit" name="commit" value="Wyczyść filtry" class="btn btn-info" data-disable-with="Wyczyść filtry" form="clear_sql">
    </div>
    <div class="col-md-4">
    <%= render 'form_from_to_date' %>
    </div>
  </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="filterModalLabel">Filtry</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
        <div class="modal-footer">
          <%= render 'clear_session' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        </div>
      </div>
    </div>
  </div>
</div>